body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    font-weight: bold;
}
span.description {
    display: block;
    margin-top: 5px;
    opacity: 0.6;
    font-style: italic;
}
.content {
    border-radius: 2px;
    width: 70%;
    margin: auto;
    box-shadow: 0px 0px 17px #bebebe;
    background-color: #fdfdfd;
    padding-top: 10px;    
    margin-bottom: 50px;
    margin-top: 30px;
}
a {
    text-decoration: underline;
    color: inherit;
}
p.link {
    position: relative;
    margin-top: 5px;
    margin-bottom: 3px;
    background-color: #ededed;
    display: block;
    margin-bottom: 0px;
    border-left: 10px solid #26C6DA;
    padding: 15px;
}
p.link.designpattern:before {
    content: "Design Pattern";
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #a09e9e;
    color: white;
    padding: 5px 11px;
    font-size: 0.8em;
}
p.exercise {
    border-bottom: 2px solid #C5CAE9;
    border-top: 2px solid #C5CAE9;
    background-color: #ededed;
    padding: 45px 15px 25px 25px;
    position: relative;
}
p.exercise:before {
    content: 'exercise';
    padding: 3px 18px;
    background-color: #283593;
    border-radius: 0px 0px 11px 0px;
    position: absolute;
    font-size: 0.7em;
    text-transform: uppercase;
    color: white;
    left: 0px;
    top: 0px;
}
.intro {
    margin: 10px;
    background-color: white;
    padding: 10px 20px;
}
.outro {
    margin: 10px;
    background-color: white;
    padding: 10px 20px;
}